.header {
  display: flex;
  justify-content:center;
  align-items: center;
  padding: 20px 5%;
  background: var(--black);
  position: relative;
  z-index: 50;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.btn_select{
  border: none;
  background: none;
  color:var(--white);
  transition: 0.5s;
  border-radius: 10px;
}

.btn_select:hover{
  background: var(--orange);
}

.container__header {
  width: 100%;
  max-width: 1267px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--white);
}

.logo span {
  color: var(--orange);
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
  margin-right: 10px;
}

.nav-links a {
  text-decoration: none;
  color: var(--white);
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: var(--orange);
}

.login-btn {
  padding: 8px 16px;
  background: var(--orange);
  color: var(--white);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: background 0.3s ease;
}

.login-btn:hover {
  background: var(--light-orange);
}

.burger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}


.mobile-menu {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: var(--black);
  padding: 20px;
  display: none;
  flex-direction: column;
  gap: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.mobile-menu ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.mobile-menu a {
  text-decoration: none;
  color: var(--white);
  font-size: 1rem;
  font-weight: 500;
}

.mobile-menu .login-btn.mobile {
  width: 100%;
}



@media (max-width: 900px) {

  .nav,
  .login-btn {
    display: none;
  }

  .nav-links {
    display: none;
  }

  .burger {
    display: flex;
  }

  .mobile-menu.show {
    display: flex;
    animation: fadeIn 0.3s ease-in-out;
  }

  body.menu-open {
    overflow: hidden;
  }

}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.burger.open span:nth-child(1) {
  transform: rotate(45deg);
  top: 0;
}

.burger.open span:nth-child(2) {
  opacity: 0;
}

.burger.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: 0;
}

.burger {
  position: relative;
  width: 30px;
  height: 22px;
  justify-content: center;
  align-items: center;
}

.burger span {
  position: absolute;
  width: 30px;
  height: 3px;
  background: var(--white);
  border-radius: 2px;
  transition: all 0.3s ease;
}

.burger span:nth-child(1) {
  top: 0;
}

.burger span:nth-child(2) {
  top: 9px;
}

.burger span:nth-child(3) {
  top: 18px;
}