:root {
    --white: #ffffff;
    --light-green: #D3E97A;
    --black: #000000;
    --extra-white: #f1f1f1;
    --light-yellow: #f5df4e;
    --light-black: #2a2a2a;
    --light-gray: #ccc;
    --gray: #777;
    --orange: #ff9900;
    --light-orange: #e08800;
    --sky-blue: #62b0ff;

}